<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @rule.id %>
</p>

<p>
  <b>Type1:</b>
  <%= @rule.type1 %>
</p>

<p>
  <b>Type2:</b>
  <%= @rule.type2 %>
</p>

<p>
  <b>Source:</b>
  <%= @rule.source %>
</p>

<p>
  <b>Sourcep:</b>
  <%= @rule.sourcep %>
</p>

<p>
  <b>Target:</b>
  <%= @rule.target %>
</p>

<p>
  <b>Targetp:</b>
  <%= @rule.targetp %>
</p>

<p>
  <b>Msg:</b>
  <%= @rule.msg %>
</p>

<p>
  <b>Classtype:</b>
  <%= @rule.classtype %>
</p>

<p>
  <b>Sid:</b>
  <%= @rule.sid %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
