 <tr>
	<td class='id first'><%= log.id %></td>
	
	<td class='optime'><%= log.optime %></td>
	
	<td class='username'><%= log.username %></td>
	<td class='ip'><%= log.ip %></td>
	
	<td class='opobject'><%= log.opobject %></td>
	
	<td class='opdetail'><%= log.opdetail %></td>	
</tr>

